@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Nunito&display=swap');


body {
  font-family: "Nunito", "IBM Plex Sans", sans-serif;
  font-size: 16px;
  color: #03143B;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  background-color: #CBD8FF;
}

.homepage {
  padding-top: 300px;
}

.heading {
  background-color: #BBBCBF;
}
header h1 {
  font-size: 80px;
  text-align: center;
  margin-bottom: -18px;
}

header h2 {
  font-size: 35px;
  text-align: center;
}

nav {
  text-align: center;
  background-color: #F3F3F3;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: -30px;
}

nav li {
  display: inline-block;
  width: 15%;
  font-size: 20px;
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav a:active {
  font-style: italic;
}

nav a:hover {
  color: #;
  background-color: #A2B9FF;
  padding: 20px
}

.heading2 {
  margin-top: -55px;
}

.aboutmain {
  padding-right: 96px;
  padding-left: 96px;
  margin-left: auto;
  margin-right: auto;
}

.awardpic {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.aboutmain {
  background-color: #CBD8FF;
}

.aboutmain h2 {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 30px;
  background-color: #BBBCBF;
  text-align: center;
  width: 100%;
}

.aboutmain h3 {
  font-size: 30px;
  background-color: #E6E6E6;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.begin {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.begin figure {
  text-align: center;
}

.begin p {
  text-align: justify;
  display: inline-block;
  width: 100%;
  line-height: 2;
}

.theU {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.theU p {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  line-height: 2;
}

.theU figure {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding-top: 45px
}

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.professional p {
  line-height: 2;
  width: 100%;
}

.professional figure {
  text-align: center;
  background-color: #FFFF;
  padding-top: 20px;
}

.stories {
  padding-top: 50px;
  padding-right: 96px;
  padding-left: 96px;
  margin-left: auto;
  margin-right: auto;

}

.stories h2 {
  font-size: 40px;
  text-align: center;
}

.stories h3 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #E6E6E6;
}

.video1 {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  background-color: #ffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.product p {
  text-align: center;
  font-style: oblique;
  font-size: 20px;
}

.sportsdesk {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  background-color: #ffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.DDmain {
  padding-right: 96px;
  padding-left: 96px;
  margin-left: auto;
  margin-right: auto;
}

.DDmain figure {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.DDmain h2 {
  font-size: 40px;
  text-align: center;
  background-color: #E6E6E6;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.weds {
  background-color: #ffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 10px;
}

.otherworks {
  background-color: #ffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 30px;
}

.longform {
  padding-top: 30px;
  padding-right: 96px;
  padding-left: 96px;
  margin-left: auto;
  margin-right: auto;
}

.longform h2 {
  font-size: 40px;
  text-align: center;
  background-color: #E6E6E6;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.description p {
  text-align: center;
  font-style: oblique;
  font-size: 20px;
}

.doc1 {
  background-color: #ffff;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  padding: 10px;
}

.doc1 p{
  text-align: center;
  font-style: oblique;
  font-size: 20px;
}

.doc2 {
  background-color: #ffff;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  padding: 10px;
}

.doc2 p{
  text-align: center;
  font-style: oblique;
  font-size: 20px;
}
